LBCMapping/Service References/Mailer/mailer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="EmAppManager" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="EmAppManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="EmAppManager">
      <s:element name="SendSmtpMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmtpMailResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSmtpMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendSmtpMail" />
  </wsdl:message>
  <wsdl:message name="SendSmtpMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmtpMailResponse" />
  </wsdl:message>
  <wsdl:portType name="MailerSoap">
    <wsdl:operation name="SendSmtpMail">
      <wsdl:input message="tns:SendSmtpMailSoapIn" />
      <wsdl:output message="tns:SendSmtpMailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MailerSoap" type="tns:MailerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSmtpMail">
      <soap:operation soapAction="EmAppManager/SendSmtpMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MailerSoap12" type="tns:MailerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSmtpMail">
      <soap12:operation soapAction="EmAppManager/SendSmtpMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Mailer">
    <wsdl:port name="MailerSoap" binding="tns:MailerSoap">
      <soap:address location="http://www.eddymontus.fr/emappmanager/mailer.asmx" />
    </wsdl:port>
    <wsdl:port name="MailerSoap12" binding="tns:MailerSoap12">
      <soap12:address location="http://www.eddymontus.fr/emappmanager/mailer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>