LBCAlerter/Service References/Identifier/identifier.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="EmAppManager" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="EmAppManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="EmAppManager">
      <s:element name="Validate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="app" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="machine" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateResult" type="tns:LicenseInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LicenseInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CreationDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpireDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DaysLeft" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SetTime" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:LicenseStatus" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="LicenseStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Trial" />
          <s:enumeration value="FullLimited" />
          <s:enumeration value="Full" />
          <s:enumeration value="Expired" />
          <s:enumeration value="Unknown" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateSoapIn">
    <wsdl:part name="parameters" element="tns:Validate" />
  </wsdl:message>
  <wsdl:message name="ValidateSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateResponse" />
  </wsdl:message>
  <wsdl:portType name="IdentifySoap">
    <wsdl:operation name="Validate">
      <wsdl:input message="tns:ValidateSoapIn" />
      <wsdl:output message="tns:ValidateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IdentifySoap" type="tns:IdentifySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Validate">
      <soap:operation soapAction="EmAppManager/Validate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IdentifySoap12" type="tns:IdentifySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Validate">
      <soap12:operation soapAction="EmAppManager/Validate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Identify">
    <wsdl:port name="IdentifySoap" binding="tns:IdentifySoap">
      <soap:address location="http://www.eddymontus.fr/emappmanager/identifier.asmx" />
    </wsdl:port>
    <wsdl:port name="IdentifySoap12" binding="tns:IdentifySoap12">
      <soap12:address location="http://www.eddymontus.fr/emappmanager/identifier.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>